{% if page.path contains "_posts" %}
{% assign lines = content | split: '<h' %}

<aside class="toc">
  <h3>Machine Steps</h3>
  <ul>
    {% assign open_sublist = false %}

    {% for line in lines %}
      {% assign level = line | slice: 0, 1 %}

      {% if level == '2' %}
        {% if open_sublist %}
          </ul>
          {% assign open_sublist = false %}
        {% endif %}

        {% assign title = line | split: '</h2>' | first | split: '>' | last %}
        {% assign id = title | slugify %}
        <li>
          <a href="#{{ id }}">{{ title }}</a>
        </li>

      {% elsif level == '3' %}
        {% if open_sublist == false %}
          <ul>
          {% assign open_sublist = true %}
        {% endif %}

        {% assign title = line | split: '</h3>' | first | split: '>' | last %}
        {% assign id = title | slugify %}
        <li class="toc-sub">
          <a href="#{{ id }}">{{ title }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if open_sublist %}
      </ul>
    {% endif %}
  </ul>
</aside>
{% endif %}
