<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
</head>
<body>

<header>
  <div class="container">
    <h1><a href="/">{{ site.title }}</a></h1>
    <p>{{ site.description }}</p>

    <nav>
      <a href="/">Home</a> |
      <a href="/about">About</a> |
      <a href="/tags">Tags</a>
    </nav>

    <hr>
  </div>
</header>


<main class="page-layout">
  {% include toc.html %}
  <div class="page-content">
    {{ content }}
  </div>
</main>

<footer>
  <hr>
  <p>© {{ site.time | date: "%Y" }} {{ site.title }}</p>
</footer>

    <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      GLightbox();
    });
  </script>
</body>
</html>
